language: python

matrix:
    include:
        - python: 3.6
        - python: 3.7
        - python: 3.8

branches:
    only:
        - master

before_install:
    - wget -O miniconda.sh https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh
    - chmod +x miniconda.sh
    - ./miniconda.sh -b
    - export PATH=/home/travis/miniconda3/bin:$PATH
    - conda update --yes conda
    - source $(conda info --root)/etc/profile.d/conda.sh

install:
    - conda env create -q -n test-environment python=$TRAVIS_PYTHON_VERSION --file environment.yml
    - source activate test-environment
    - conda install --yes coverage flake8
    - pip install coveralls

before_script:
    - pycodestyle mss

script:
    - coverage run -m unittest discover
after_success:
    - coverage report
    - coveralls
